body {
  margin: 0;
  padding: 0;
  background: #12011f;
  font-family: 'Segoe UI', sans-serif;
  color: #ffffff;
}

.box, .pagamento {
  max-width: 600px;
  margin: 20px auto;
  background: #1f0a2e;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 0, 153, 0.2);
}

h1, h2, h3 {
  text-align: center;
  color: #ff8ae2;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  background: #2b1245;
  color: #fff;
}

.btn-danger {
  background: #ff3b7d;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  margin-right: 10px;
}

.btn-secondary {
  background: transparent;
  border: 2px solid #ff8ae2;
  color: #ff8ae2;
  padding: 12px;
  border-radius: 8px;
}

.btn-invadir {
  background: #d94cff;
  color: #fff;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
}

.btn-pagar {
  background: #c934b3;
  border: none;
  color: white;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  font-size: 18px;
}

.avisos, .comunicado {
  background: #2e1144;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
}

.pix-box {
  background: #351244;
  padding: 20px;
  margin-top: 20px;
  border-radius: 12px;
  color: #fff;
}

code {
  display: block;
  background: #fff;
  color: #000;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  font-weight: bold;
}

.garantias p {
  background: #260033;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
}

footer {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  color: #bbb;
}
